body{
  background-color: antiquewhite;
}

h1,
h2,
h3{
  color: black;
  background-color: rgb(221, 72, 72);
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}

.american-goulash{
  height: auto;
  width: 500px;
}

.skillet-chicken-bulgogi{
  height: auto;
  width: 500px;
}

.lasagna{
  height: auto;
  width: 500px;
}

.main-page{
  background-color: rgb(221, 72, 72);
  color: black;
  font-size: large;
  font-weight: bold;
  text-align: center;
}